<div class="banner">
  <div class="container">
      <h1>Bienvenue chez Mister Cocktail</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="row d-flex justify-content-center">
      <% @cocktails.each do |cocktail|  %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
                <p class="card-text"> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
                  <a href="#" class="btn btn-primary">Discover</a>
                 
            </div>
        </div>
      <% end  %>
    </div>
  </div>
    <div class="new_cocktail">
      <p><%= link_to "Create a new cocktail", new_cocktail_path %></p>
    </div>
</div



