.banner {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
}

.container {
  width: 900px;
  margin: 0 auto;
}

.new_cocktail {
  text-align: center;
}
